*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --mainColor: #FB2E86;
    --h2Color : #1A0B5B;
    
}
a{
    text-decoration: none;

}

ul{
    list-style: none;
}


.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.container{
    width: calc(100% - 300px);
    margin: auto;
}

.header{
    margin-top: 20px;
}

.header form{
    border: 2px solid #ddd;
}

.header button{
    background-color: var(--mainColor);
    padding: 8px 10px 10px 10px;
    cursor: pointer;
}

.header input{
    padding: 10px 13px;
}

.footer {
  background: #f6f6ff;
  padding: 60px 0;
}

.footer .row {
  display: flex;
  gap: 40px;
}

.footer-left-side {
  flex: 1;
  min-width: 260px;
}

.footer-left-side img {
  margin-bottom: 20px;
}

.email {
  display: flex;
  margin-bottom: 25px;
}

.email input {
  padding: 10px;
  outline: none;
}

.email button {
  padding: 10px 18px;
  background: #fb2e86;
  color: #fff;
  border: none;
  cursor: pointer;
}

.contact h2 {
  margin-bottom: 10px;
}

.footer-right-side {
  flex: 2;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.footer-item h2 {
  margin-bottom: 15px;
}

.footer-item nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-item a {
  color: #444;
  text-decoration: none;
}

.hero{
    background-color: #F2F0FF;
    padding:30px 0;
    margin-top: 30px;
    margin-bottom: 6%;
}

.hero-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap:20px;
}

.hero .subtitle{
    color: var(--mainColor);
}

.hero .heading{
    font-size: 53px;
    line-height: 1.2;
}
.hero-description{
    color: #8A8FB9;
}
.hero .shop-btn{
    background-color: var(--mainColor);
    color: #F2F0FF;
    padding: 16px 40px;
    border-radius: 5px;
    transition: background-color .8s;
    width: 150px;
}


.hero .shop-btn:hover{
    background-color: rgba(0, 0, 0, .9);
}


.hero .hero-img{
    flex: 1 1 200px;
    max-width: 100%;
    
}


 
 .text-content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap:13px;
    align-items: flex-start;
    flex: 1 1 30px;
}


.featured-products {
    margin-bottom: 5%;
}
.featured-products h2{
    text-align: center;
    color: #1A0B5B;
    font-size: 42px;
    margin-bottom: 4%;
    margin-top: 5%;
}

.featured-products .featured-product{
    width: 270px;
    height: 361px;
     background-color: white;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }


.featured-product img{
    display: block;
    margin: 0 auto;
    width: 178px;
    height: 178px;
    
}

.featured-product h3{
    text-align: center;
    color: var(--mainColor);
    margin: 10px;
}

.featured-product .gray-background{
width: 270px;
height: 236px;
background-color: #F6F7FB;
}

.featured-product span{
    color:#151875;
}

.span-feature{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.offer-section h2{
color: var(--h2Color);
font-size: 42px;
margin-bottom: 4%;
text-align: center;
}

.offer-section .offer{
    width: 270px;
    height: 320px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 5%;
}

.offer-section img{
    display: block;
    margin: 25% auto;  
}

.offer-section h3{
    color: var(--h2Color);
    text-align: center;
}
.offer-section p{
    color: rgb(174, 167, 167);
    padding: 10px;
    text-align: center;
}

.top-categories{
    margin-bottom: 10%;
}
.top-categories h2{
    color: var(--h2Color);
    font-size: 42px;
    margin-bottom: 4%;
    text-align: center;
    
    }

.top-category img{
        width: 178px;
        height: 178px;
        display: block;
        margin: 20% auto; 
        padding-top: 10px;
    }

.top-category{
    width: 269px;
    height: 269px;
    background-color: rgba(246, 247, 251, 1);
    border-radius: 50%;
}

#categoryOne {
    border-left: 10px solid transparent; 
    transition: border-left 0.3s ease;    
}

#categoryOne:hover {
    border-left: 10px solid plum;     
}

.top-categories span {
    display: block;
    font-size: 14px;
    flex-direction: column;
    display: flex;
    align-items: center;
    color: var(--h2Color);
    margin-top: 10px;
  }
.latest-blogs{
    margin-bottom: 10%;

}  

.latest-blogs h2{ 
    color: var(--h2Color);
    font-size: 42px;
    margin-bottom: 4%;
    text-align: center;
}

.latest-blog{
width: 370px;
height: 493px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
border-radius: 10px;
}

.latest-blog img{
    height: 255px0;
    border-radius: 10px;
}

.latest-blog .vector1{
    gap: 20px;
}

.info-line {
    display: flex;
    align-items: center;
    gap: 40px; 
    font-family: Arial, sans-serif;
    padding: 20px;
  }
  
  .info-item {
    display: flex;
    align-items: center;
    gap: 6px;
    color: #2E3192;
    font-size: 13px;
  }
  
  .info-item img {
    width: 12px;
    height: 12px;
    object-fit: contain;
  }

  .trend-block {
    font-family: Arial, sans-serif;
    max-width: 300px;
    padding: 20px;
  }
  
  .title {
    font-size: 16px;
    font-weight: bold;
    color: #2E3192;
    margin-bottom: 10px;
  }
  
  .description {
    font-size: 14px;
    color: #888; 
    line-height: 1.6;
    margin-bottom: 10px;
  }
  
  .read-more {
    font-size: 14px;
    color: #2E3192;
    text-decoration: underline;
    cursor: pointer;
  }

  .leatest-products{
    margin-bottom: 10%;
  }
  
  .leatest-products h2{
     text-align: center;
    color: #1A0B5B;
    font-size: 42px;
    margin-bottom: 2%;
  }

  .row-center{
    gap: 3%;
    display: flex;
   text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 4%;
  }
  .row-center h4{
    color: #151875;
  }

  .row-center h4:hover{
    color: var(--mainColor);
    line-height: 2px;
    border-bottom: 1px solid var(--mainColor);
  }

.leatest-product img{
    width: 245px;
    height: 245px;
}

.leatest-div{
    gap: 5%;
    display: flex;
   text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 4%;
}

.leatest-product {
  position: relative;
  padding: 20px;
  background: #fff;
}

.sale-badge{
position: absolute;
  top: 12px;
  left: 12px;
   width: 84px;
   background: #3F509E;
  color: #fff;
  padding: 6px 14px;
  font-size: 13px;
  font-weight: 500;
  border-radius: 15px 0 15px 0;
  transform: rotate(-15deg);
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
}

.sale-badge::after{
  content: "";
  position: absolute;
  bottom: -6px;
  left: 8px;
  width: 8px;
  height: 8px;
  transform: rotate(45deg);
}




.row-0{
  display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    gap: 0;
}

.row-1{
  display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 4%;
    margin-top: 10px;
}

.product {
  position: relative;
  display: inline-block;
}

.column {
  position: absolute;
  bottom: 10px; 
  display: flex;
  flex-direction: column;
  gap: 20px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.product:hover .column {
  opacity: 1;
}

.column img {
  width: 15px;
  height: 15px;
  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.leatest-font{
  color: #151875;
  font-size: 16px;
}

.current-price {
  color: #151875;
  font-weight: bold;
  font-size: 16px;
}

.line-through {
  text-decoration: line-through; 
   color: #FB2448; 
  font-size: 14px; 
  margin-right: 8px; 
}


@media screen  and (max-width: 992px){
 .hero .hero-lamp{
    display: none;
 } 
 .hero-content{
    text-align: center;
 } 
 .text-content{
    align-items: center;
 }
 .hero-img{
    text-align: center;
 }
 .hero .hero-img img{
    width: 50%;
 } 
 .footer .container{
    flex-direction: column;
    align-items: center;
 }
 .footer .row {
    flex-direction: column;
  }

  .footer-right-side {
    flex-wrap: wrap;
  }

  .footer-item {
    width: 48%;
  }
}


